PORT=3000
NODE_ENV=development

# Database (MongoDB)
MONGODB_URI="mongodb://root:root_password@localhost:27017/baitap04_mongodb?authSource=admin"


# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET=your_access_token_secret_here
JWT_REFRESH_SECRET=your_refresh_token_secret_here

# Email (Gmail)
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_app_password_here
